<header>
  <h1>
    Angular
    <strong>Drag-to-Select</strong>
    Component
  </h1>
  <p>A lightweight, fast, configurable and reactive drag-to-select component for Angular</p>
  <div class="github">
    <div class="github-button">
      <a class="github-button" href="https://github.com/d3lm/ngx-drag-to-select" data-icon="octicon-star" data-size="large" data-show-count="true"
        aria-label="Star d3lm/ngx-drag-to-select on GitHub">Star</a>
    </div>
    <div class="github-button">
      <a class="github-button" href="https://github.com/d3lm/ngx-drag-to-select/fork" data-icon="octicon-repo-forked" data-size="large"
        data-show-count="true" aria-label="Fork d3lm/ngx-drag-to-select on GitHub">Fork</a>
    </div>
    <div class="github-button">
      <a class="github-button" href="https://github.com/d3lm/ngx-drag-to-select/issues" data-icon="octicon-issue-opened" data-size="large"
        aria-label="Issue d3lm/ngx-drag-to-select on GitHub">Issue</a>
    </div>
  </div>
</header>