<ngx-header></ngx-header>
<main>
  <section *ngIf="isDesktop">
    <h3>Keyboard Shortcuts</h3>
    <mat-tab-group [@.disabled]="true">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon svgIcon="apple"></mat-icon>
        </ng-template>
        <ngx-shortcuts os="mac"></ngx-shortcuts>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon svgIcon="windows"></mat-icon>
        </ng-template>
        <ngx-shortcuts os="windows"></ngx-shortcuts>
      </mat-tab>
    </mat-tab-group>
  </section>

  <section cy-data="desktop" *ngIf="isDesktop">
    <h3>
      <span>Desktop Demo</span>
      <a href="https://github.com/d3lm/ngx-drag-to-select/blob/master/src/app">SOURCE</a>
    </h3>

    <mat-checkbox cy-data="selectOnDrag" [(ngModel)]="selectOnDrag">Select on Drag</mat-checkbox>
    <mat-checkbox cy-data="disable" [(ngModel)]="disable">Disable</mat-checkbox>
    <mat-checkbox cy-data="selectMode" [(ngModel)]="selectMode">Select Mode</mat-checkbox>
    <mat-checkbox cy-data="selectWithShortcut" [(ngModel)]="selectWithShortcut">Select with Shortcut</mat-checkbox>

    <button cy-data="selectAll" mat-raised-button (click)="selectContainer.selectAll()">Select All</button>
    <button cy-data="clearSelection" mat-raised-button (click)="selectContainer.clearSelection()">Clear Selection</button>

    <div class="drag-area">
      <ngx-select-container #selectContainer="ngx-select-container" [selectMode]="selectMode" [(selectedItems)]="selectedDocuments"
        [disabled]="disable" [selectOnDrag]="selectOnDrag" [selectWithShortcut]="selectWithShortcut" (select)="onSelect($event)">
        <mat-grid-list cols="4" rowHeight="200px" gutterSize="20px">
          <mat-grid-tile [selectItem]="document" *ngFor="let document of documents">
            {{ document.name }}
          </mat-grid-tile>
        </mat-grid-list>
      </ngx-select-container>
    </div>

    <div class="meta">
      <h4>Meta Information</h4>
      <div>
        <label>Selected</label>
        <span cy-data="select-count">{{ selectedDocuments.length }}</span>
      </div>
      <ul class="selected-items">
        <li cy-data="selected-item" class="selected-item" *ngFor="let item of selectedDocuments">{{ item.name }}</li>
      </ul>
    </div>
  </section>

  <section cy-data="mobile">
    <h3>
      <span>Mobile Demo</span>
      <a href="https://github.com/d3lm/ngx-drag-to-select/blob/master/src/app/phone">SOURCE</a>
    </h3>

    <div class="mobile-wrapper">
      <ngx-phone></ngx-phone>
    </div>
  </section>
</main>
<ngx-footer></ngx-footer>
