<app-header></app-header>
<main>
  <section *ngIf="isDesktop">
    <h3>Keyboard Shortcuts</h3>
    <mat-tab-group [@.disabled]="true">
      <mat-tab>
        <ng-template mat-tab-label> <mat-icon svgIcon="apple"></mat-icon> </ng-template>
        <app-shortcuts os="mac"></app-shortcuts>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label> <mat-icon svgIcon="windows"></mat-icon> </ng-template>
        <app-shortcuts os="windows"></app-shortcuts>
      </mat-tab>
    </mat-tab-group>
  </section>

  <section data-cy="desktop" *ngIf="isDesktop">
    <h3>
      <span>Desktop Demo</span> <a href="https://github.com/d3lm/ngx-drag-to-select/blob/master/src/app">SOURCE</a>
    </h3>

    <mat-checkbox data-cy="selectOnDrag" [(ngModel)]="selectOnDrag">Select on Drag</mat-checkbox>
    <mat-checkbox data-cy="dragOverItems" [(ngModel)]="dragOverItems">Drag Over Items</mat-checkbox>
    <mat-checkbox data-cy="disable" [(ngModel)]="disable">Disable</mat-checkbox>
    <mat-checkbox data-cy="disableEvenItems" [(ngModel)]="disableEvenItems">Disable even items</mat-checkbox>
    <mat-checkbox data-cy="disableRangeSelection" [(ngModel)]="disableRangeSelection"
      >Disable Range Selection</mat-checkbox
    >
    <mat-checkbox data-cy="selectMode" [(ngModel)]="selectMode">Select Mode</mat-checkbox>
    <mat-checkbox data-cy="selectWithShortcut" [(ngModel)]="selectWithShortcut">Select with Shortcut</mat-checkbox>

    <div class="action-buttons">
      <button data-cy="selectAll" mat-raised-button (click)="selectContainer.selectAll()">Select All</button>
      <button data-cy="clearSelection" mat-raised-button (click)="selectContainer.clearSelection()">
        Clear Selection
      </button>
    </div>

    <div class="drag-area">
      <dts-select-container
        data-cy="select-container"
        #selectContainer="dts-select-container"
        [selectMode]="selectMode"
        [(selectedItems)]="selectedDocuments"
        [disabled]="disable"
        [disableRangeSelection]="disableRangeSelection"
        [selectOnDrag]="selectOnDrag"
        [selectWithShortcut]="selectWithShortcut"
        [dragOverItems]="dragOverItems"
      >
        <mat-grid-list cols="4" rowHeight="200px" gutterSize="20px">
          <mat-grid-tile
              [dtsSelectItem]="document"
              [dtsDisabled]="disableEvenItems && document.disabled"
              *ngFor="let document of documents">
            {{ document.name }}
          </mat-grid-tile>
        </mat-grid-list>
      </dts-select-container>
    </div>

    <div class="meta">
      <h4>Meta Information</h4>
      <div>
        <label>Selected</label> <span data-cy="select-count">{{ selectedDocuments.length }}</span>
      </div>
      <ul class="selected-items">
        <li data-cy="selected-item" class="selected-item" *ngFor="let item of selectedDocuments">{{ item.name }}</li>
      </ul>
    </div>
  </section>

  <section data-cy="mobile">
    <h3>
      <span>Mobile Demo</span> <a href="https://github.com/d3lm/ngx-drag-to-select/blob/master/src/app/phone">SOURCE</a>
    </h3>

    <div class="mobile-wrapper"><app-phone></app-phone></div>
  </section>
</main>
<app-footer></app-footer>
