:host {
  background-color: #ebecf0;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
}

.list-header {
  padding: 0.5rem;
}

.list-cards {
  margin: 0 4px;
  padding: 0 4px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  gap: 0.4rem;
  height: -webkit-fill-available;
}

.list-cards.cdk-drop-list-dragging app-task:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

:host(.item-dragging) {
  ::ng-deep {
    mat-card.selected:not(.cdk-drag-placeholder) {
      display: none; //opacity: 0.3;
    }
  }
}

.drag-placeholder-container {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  mat-card {
    opacity: 0.5;
  }
}

.drag-preview-container {
  gap: 0.5rem;
  position: relative;

  mat-card {
    position: absolute;
    width: 200px;
    top: -10px;
    left: -25px;
  }
  mat-card:nth-child(2) {
    left: -40px;
    top: -10px;
    transform: rotate(-1deg);
    z-index: -1;
  }
  mat-card:nth-child(3) {
    top: -5px;
    left: -20px;
    transform: rotate(1deg);
    z-index: -2;
  }
}
