<div class="phone-wrapper">
  <div class="phone-screen">
    <div class="controls">
      <div @editButtons *ngIf="selectMode">
        <button mat-icon-button (click)="selectContainer.clearSelection()">
          <mat-icon>clear</mat-icon>
        </button>
        <button mat-icon-button (click)="selectContainer.selectAll()">
          <mat-icon>select_all</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteContacts(selectedContacts)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <span @selectCount class="select-count" *ngIf="selectedContacts.length">( {{ selectedContacts.length }} )</span>
      <button @fade *ngIf="!selectMode" class="add-button" mat-icon-button (click)="addContact()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <ngx-select-container #selectContainer="ngx-select-container" [(selectedItems)]="selectedContacts" [disableDrag]="true" [custom]="true"
      [class.select-mode]="selectMode" (select)="toggleSelectMode()" class="content" [selectMode]="selectMode">
      <ul *ngIf="contacts.length; else noContacts">
        <li class="email" *ngFor="let contact of contacts">
          <div class="sender-avatar" #selectItem="selectItem" [selectItem]="contact" [style.background]="contact.color">
            <mat-icon *ngIf="selectItem.selected && selectMode">check</mat-icon>
            <span *ngIf="!selectMode">{{ contact.initials }}</span>
          </div>
          <div class="sender">{{ contact.name }}</div>
        </li>
      </ul>
      <ng-template #noContacts>
        <div class="no-contacts">
          <img src="assets/no-content.svg" alt="Nothing here">
          <div class="message">
            <strong>Bummer!</strong>
            <span>No contacts here.</span>
          </div>
        </div>
      </ng-template>
    </ngx-select-container>
    <div class="home-button"></div>
  </div>
</div>