<app-shortcut>
  <app-key>Click</app-key>
  <app-shortcut-description>
    Select single item
  </app-shortcut-description>
</app-shortcut>

<app-shortcut>
  <app-key>alt</app-key>
  <app-shortcut-description>
    Disable selection box to select text on the screen
  </app-shortcut-description>
</app-shortcut>

<app-shortcut>
  <app-modifier-key [os]="os"></app-modifier-key> + <app-key>Click</app-key>
  <app-shortcut-description>
    Add or remove single item to selection
  </app-shortcut-description>
</app-shortcut>

<app-shortcut>
  <app-key>⇧</app-key> + <app-key>Drag</app-key>
  <app-shortcut-description>
    Add items to selection
  </app-shortcut-description>
</app-shortcut>

<app-shortcut>
  <app-key>⇧</app-key> + <app-key>Click</app-key>
  <app-shortcut-description>
    Select items in a range
  </app-shortcut-description>
</app-shortcut>

<app-shortcut>
  <app-key>⇧</app-key> + <app-key>R</app-key>
  <app-shortcut-description>
    Move start of range selection
  </app-shortcut-description>
</app-shortcut>

<app-shortcut>
  <app-key>⇧</app-key> + <app-modifier-key [os]="os"></app-modifier-key> + <app-key>Drag</app-key>
  <app-shortcut-description>
    Remove items from selection
  </app-shortcut-description>
</app-shortcut>
