@import url(https://fonts.googleapis.com/css?family=Raleway);

@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '../projects/ngx-drag-to-select/src/scss/ngx-drag-to-select.scss';

html {
  box-sizing: border-box;
  font-size: 16px;
  padding: 20px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
